.navbar{
  padding: 0px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;

}
.navbar h1{
  color: indianred;
}
.navbar a{
  margin-left: 16px;
  text-decoration: none;
  pad: 4px;
}
.navbar links{
  margin-left: auto;
}

#search-list{
  max-height: 700px;
  overflow: scroll;
}